{% extends 'base.html' %}
{% block title %}Password Change{% endblock %}
{% block body %}

<!--
<form method='POST'>
  {% csrf_token %}
  {{ user_form.as_p }}
 {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<button value='submit'>submit</button> 
</form>
-->




<style>
.segment.container { 
			font-size: 20px;
			font-family: Times New Roman;
			line-height: 1.3em;
			padding: 0.2em 0.5em;
			
			background-color: #f0f5f5;
		  }
.container .header{text-align: center;}
</style>



<div class="ui segment container">
	<form method="POST">
	{% csrf_token %}
	<div class="ui header">My Profile </div>
	<div class="ui grey segment">
		{{ user_form.as_p }}
		 {% if messages %}
		  <ul class="messages">
			{% for message in messages %}
			  <li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		  </ul>
		{% endif %}
		<button value='submit'>Change</button>
		
	</div>
	
	</form>
</div>

{% endblock %}